# Ignore Hugo build output

resources/_gen/
hugo_stats.json


# Ignore theme directory (if it's not a submodule)
themes/

# Node modules (if you're using JS tooling)
node_modules/

# System files
.DS_Store
Thumbs.db
