/* Change the footer background to a sand color */

footer.bg-yellow {
    background-color: #583D32 !important; /* Rock color */
}


/* Apply Avenir font and custom color to the specific h1 */
h1.f1.athelas.mt3.mb1 {
    font-family: 'Avenir', sans-serif !important;
    color: #583D32 !important; /* Change this to your preferred color */
}



h1.f3.near-black a {
    color: #583D32 !important; /* Ensure the color is applied */
    font-size: 1.5rem; /* Slightly larger font */
    font-weight: bold;
    text-decoration: none; /* Keeps the link styling clean */
    font-family: 'Avenir', sans-serif !important;
}


.nested-links.f5.lh-copy.nested-copy-line-height p {
    color: #333333; /* Dark gray text */
    font-size: 1.2rem; /* Slightly larger than default */
    line-height: 1.6; /* Increased line spacing for better readability */
    font-family: 'Avenir', sans-serif !important;
}

.ananke-socials a span.icon svg path {
  fill: #fff !important;
  color: #fff !important;
}

/* article summaries */

h1.f3.fw1.athelas.mt0.lh-title a {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 24px; /* Adjust size as needed */
    font-weight: normal; /* Adjust weight as needed */
    color: #583D32; /* Adjust color as needed */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

h1.f3.fw1.athelas.mt0.lh-title a:hover {
    color: #672414; /* Change color on hover */
    text-decoration: underline;
}
